/* eyy it shaboy new css file here */
#topdiv {
  width: auto;
  margin-bottom: 10px;
  background-color: #4da6ff;
  font-family: "Times New Roman", sans-serif;
  color: #404040;
  border-radius: 5px;
  border-width: 4px;
  display: block;
  text-align: auto;
}
#topdivtext {
  padding: 10px;
  font-size: 30px;
}
body {
  background-position: 50%;
}

#leftdiv {
  height: 900px;
  width: 120px;
  background-color: #80bfff;
  border-radius: 5px;
  /*margin: 10px;*/
  float: left;
  display: inline;
}
#bodydiv {
  width: 300px;
  height: 900px;
  /*margin: 10px; */
  background-color: #ffff99;
  border-radius: 5px;
  /*float:right;*/
}
